Repository onanypoint/advent-of-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: jupytext, check-ast, check-yaml, check-json, pretty-format-json, black, isort, lint, poetry-check, poetry-export, requirements-txt-fixer

jupytext:
  name: Run Jupytext
  entry: jupytext
  language: system
  args:
  - --sync

check-ast:
  name: Check python Abstract Syntax Tree
  entry: check-ast
  language: python
  description: Simply check whether files parse as valid python.

check-yaml:
  name: Check Yaml files for syntax
  entry: check-yaml
  language: python
  description: Attempts to load all yaml files to verify syntax.

check-json:
  name: Check JSON files for syntax
  entry: check-json
  language: python
  description: Attempts to load all json files to verify syntax.

pretty-format-json:
  name: Pretty format JSON
  entry: pretty-format-json
  language: python
  description: Checks that all your JSON files are pretty. "Pretty" here means that keys are sorted and indented.

black:
  name: Format code with Black
  entry: black
  language: system

isort:
  name: Sort imports with iSort
  entry: isort
  language: system

lint:
  name: Check the quality of the code with pyLint
  entry: pylint
  language: system

poetry-check:
  name: poetry-check
  description: Run poetry check to validate config
  entry: poetry check
  language: python
  pass_filenames: false

poetry-export:
  name: poetry-export
  description: Run poetry export to sync lock file with requirements.txt
  entry: poetry export
  language: python
  pass_filenames: false
  args:
  - -o
  - requirements.txt
  - --without-hashes

requirements-txt-fixer:
  name: Sort pip requirements files
  description: Sorts entries in requirements.txt
  entry: requirements-txt-fixer
  language: python

Fix README solution dead links
  README.md
Due: none

Add 2016 Day 1 to 9
  README.md
  poetry.lock
  requirements.txt
  solutions/aoc2016.py
Due: check-ast, black, isort, lint, poetry-export, requirements-txt-fixer

Add new solutions for 2016, 2017, 2019, 2020, 2021
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
  solutions/aoc2016.py
  solutions/aoc2017.py
  solutions/aoc2019.py
  solutions/aoc2020.py
  solutions/aoc2021.py
  solutions/toolbox.py
Due: check-ast, black, isort, lint, poetry-check, poetry-export, requirements-txt-fixer

Remove complimentary requirements.txt
  .pre-commit-config.yaml
  README.md
  poetry.lock
  requirements.txt
  solutions/aoc2022.py
Due: check-ast, check-yaml, black, isort, lint, poetry-export, requirements-txt-fixer

Add day 2 2022
  poetry.lock
  solutions/aoc2022.py
Due: check-ast, black, isort, lint, poetry-export

Add day 3 2022
  poetry.lock
  solutions/aoc2022.py
Due: check-ast, black, isort, lint, poetry-export

Add day 4 and 5 2022
  poetry.lock
  pyproject.toml
  solutions/aoc2022.py
Due: check-ast, black, isort, lint, poetry-check, poetry-export

Add day 6 2022
  poetry.lock
  solutions/aoc2022.py
Due: check-ast, black, isort, lint, poetry-export

Add days 7-12 2022
  poetry.lock
  solutions/aoc2022.py
Due: check-ast, black, isort, lint, poetry-export

Add day 13 2022
  poetry.lock
  solutions/aoc2022.py
Due: check-ast, black, isort, lint, poetry-export

Path conditions:
  jupytext: any of: ipynb
  check-ast: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  pretty-format-json: any of: \.json$
  black: any of: \.py$
  isort: any of: \.py$
  lint: any of: \.py$
  poetry-check: any of: ^pyproject.toml$
  poetry-export: any of: ^poetry.lock$
  requirements-txt-fixer: any of: requirements.*\.txt$
